h1{
    font-family: Planta;
    src: url("plante/Plante.ttf");
    color: #2d3131;
}

.about-section p
{
    font-family: Planta;
    src: url("plante/Plante.ttf");
    color: #3f2a2a;
}
.about-section h2

{
    font-family: Planta;
    src: url("plante/Plante.ttf");
    color: #567ca2;
}
