h1{
    font-family: Planta;
    src: url("plante/Plante.ttf");
    color: #2d3131;
}

h2
{
    font-family: Planta;
    src: url("plante/Plante.ttf");
}


h3
{
    font-family: Planta;
    src: url("plante/Plante.ttf");
}
